.projects-container {
    padding: 40px;
    background: #0a7273;
    color: #e9e3d5;
  }
  
  .projects-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .project-card {
    background: #033043;
    padding: 20px;
    border-radius: 10px;
    color: #fda521;
    max-width: 300px;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
      