/* src/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #033043;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #FDA521;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #E9E3D5;
  }
  
  .footer {
    background-color: #033043;
    color: white;
    text-align: center;
    padding: 10px;
  }
  