.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #033043;
    color: #fda521;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links a {
    color: #e9e3d5;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: #fda521;
  }
  