.testimonials-container {
    background: #fda521;
    padding: 30px;
    text-align: center;
  }
  
  .testimonial-card {
    background: #033043;
    color: #e9e3d5;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
  }
  
  .testimonial-card h4 {
    margin-top: 10px;
    font-style: italic;
  }
  